<article
  class="w-full px-1 my-1 overflow-hidden sm:w-1/2 md:w-1/3 lg:w-1/4 xl:w-1/4 glass-effect rounded-lg flex items-center p-4">
  <h5 class="flex items-center w-full">
    <a class="text-sm font-medium decoration-primary-500 hover:underline hover:underline-offset-2"
      href="{{ .Page.RelPermalink }}">{{ .Page.Title }}</a>
    {{ if site.Params.taxonomy.showTermCount | default true }}
    <!-- <span class="px-2 text-base text-primary-500">&middot;</span> -->
    <span class="text-base text-neutral-400">
      （{{ .Count }}）
    </span>
    {{ end }}
  </h5>
</article>